<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Dealership Review</title>

  


 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <!----  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> ---->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- bootstrap.min css -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css'%}">

 
      <link rel="stylesheet" href="{% static 'plugins/themify/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css'%}">
    
    <link rel="stylesheet" href="{% static 'plugins/slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css'%}">

</head>

<body class="d-flex flex-column h-100">  
    <!--Add a nav bar here -->

    <div id="navbar" style="background-color:#000000">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg px-0 py-4">

                  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item @@index">
                        <a class="nav-link text-white" href="{%url 'djangoapp:index' %}">Index</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'djangoapp:addreview' %}">Add Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'djangoapp:dealer_details' %}">Dealer details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'djangoapp:registration' %}">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'djangoapp:about_us' %}">About Us</a>
                    </li>
                   
                      

                
                </nav>  
                </div>
          </div>
        </div>
    </div>
    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <h1>Contact Us</h1>

            </div>
        </div>
        <br/>
        <br/>
        <div class="container">
            <div class="row">
                <p>+1 801 923 92</p>
                
            </div>
            <div class="row">
                <p>email@company.com</p>
            </div>
        </div>

    </section>

  
       
    <footer class="footer mt-auto py-1" style="background-color: #000000;">

        <div class="container">
            <div class="row align-items-start">
            <!-- Copyright -->
             <div class="col-md-4 col-lg-3 col-xl-3 mt-4">
                <!-- Links -->
                <a class="text-uppercase text-white mt-4" href="{% url 'djangoapp:contact' %}">Contact</a>
              </div>
            </div>
            <div class="text-center p-4">
              © 2023 Copyright:
              <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </div>
          </footer>
        </body>
</html>